*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
}

body {
	min-height: 100vh;
	font-family: system-ui, sans-serif;
	background: #000;
	color: #fff;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	width: min(60vw, 1200px);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	container-type: inline-size;
	position: relative;
	font-size: 1cqw;
	gap: 1.5em;
	padding: 1.5em;
	border: 0.1em solid oklch(0.3 0 0);
	border-radius: 1.5em;
	overflow: hidden;
}

.card {	
	aspect-ratio: 5 / 7;
	border: 1px solid oklch(0.3 0 0);
	border-radius: 0.75em;
	cursor: pointer;
	
	&:hover {
		background-color: oklch(0.2 0 0);
	}
}

.arm {
	position: absolute;
	height: 40em;
	left: calc(1.5em + (var(--card-column) * 1.5em));
	top: 0em;
	translate: -50% -5em;
	pointer-events: none;
	transition: left 300ms ease-in-out;
}