.card-container:has(.card:hover) .arm {
	transition-delay: 0ms;
}

.arm {
	position: absolute;
	height: 100%;
	left: 50%;
	top: 0%;
	translate: -50% -100%;
	z-index: 3;
	pointer-events: none;
	transition:
		left 300ms ease-in-out,
		top 300ms ease-in-out;
	transition-delay: 300ms;
	user-select: none;
}

.card-container:has(.card[data-index="0"]:hover) .arm { left: 14.625%; top: 20%; }
.card-container:has(.card[data-index="1"]:hover) .arm { left: 38.875%; top: 20%; }
.card-container:has(.card[data-index="2"]:hover) .arm { left: 63.125%; top: 20%; }
.card-container:has(.card[data-index="3"]:hover) .arm { left: 87.375%; top: 20%; }

.card-container:has(.card[data-index="4"]:hover) .arm { left: 14.625%; top: 67.5%; }
.card-container:has(.card[data-index="5"]:hover) .arm { left: 38.875%; top: 67.5%; }
.card-container:has(.card[data-index="6"]:hover) .arm { left: 63.125%; top: 67.5%; }
.card-container:has(.card[data-index="7"]:hover) .arm { left: 87.375%; top: 67.5%; }
